
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Row-Reduction-Algorithm.iml
.idea/vcs.xml
__pycache__/fractions.cpython-39.pyc
__pycache__/matrix.cpython-39.pyc
